{{ ansible_managed | comment(decoration='; ') }}

[{{ item.pool_name | mandatory }}]
listen = {{ item.pool_listen | mandatory }}
listen.allowed_clients = {{ item.pool_listen_allowed_clients | default('127.0.0.1', true) }}
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

listen.owner = {{ php_fpm_pool_user }}
listen.group = {{ php_fpm_pool_group }}

pm = {{ item.pool_pm | default('dynamic', true) }}
pm.max_children = {{ item.pool_pm_max_children | default(50, true) }}
pm.start_servers = {{ item.pool_pm_start_servers | default(5, true) }}
pm.min_spare_servers = {{ item.pool_pm_min_spare_servers | default(5, true) }}
pm.max_spare_servers = {{ item.pool_pm_max_spare_servers | default(5, true) }}
pm.max_requests = {{ item.pool_pm_max_requests | default(500, true) }}
{% if item.pool_pm_status_path|length %}
pm.status_path = {{ item.pool_pm_status_path }}
{% endif %}

request_terminate_timeout = {{ php_fpm_request_terminate_timeout }}
slowlog = {{ php_fpm_slowlog }}
request_slowlog_timeout = {{ php_fpm_request_slowlog_timeout }}
request_slowlog_trace_depth = {{ php_fpm_request_slowlog_trace_depth }}

catch_workers_output = {{ php_fpm_catch_workers_output }}
decorate_workers_output = {{ php_fpm_decorate_workers_output }}
clear_env = {{ php_fpm_clear_env }}
security.limit_extensions = {{ php_fpm_security_limit_extensions }}
{% if php_fpm_access_log %}
access.log = {{ php_fpm_access_log }}
{% endif %}
{% if php_fpm_access_format %}
access.format = "{{ php_fpm_access_format }}"
{% endif %}

{% for item in php_fpm_php_admin_values %}
php_admin_value[{{ item.keys()|first }}] = {{ item.values()|first }}
{% endfor %}
{% for item in php_fpm_php_admin_flags %}
php_admin_flag[{{ item.keys()|first }}] = {{ item.values()|first }}
{% endfor %}
